<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="js/chart.js"></script>
    <title>Expenses</title>
</head>
<style>

    .name{
        text-align: center;
    }
   table td:first-child{
       border-right: 1px solid black;
       height: 100%;
   }
</style>
<body>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr><th>Name</th><th class="name">Ostap</th><th class="name">Diego</th></tr>
    </thead>
    <tbody>
    <tr><td>Difference</td><td colspan="2" style="text-align: center"><span th:text = "|${totalDiff} EUR|"></span></td></tr>
    <tr><td>Status</td><td colspan="2" style="text-align: center"><span th:text = "${status}"></span></td></tr>
    <tr><td>Total for current month</td>
        <td style="text-align: center"><span th:text = "|${ostapSum} EUR|"></span></td>
        <td style="text-align: center"><span th:text = "|${diegoSum} EUR|"></span></td>
    </tr>
    <tr><td>Total for previous month</td>
        <td style="text-align: center"><span th:text = "|${ostapPrevSum} EUR|"></span></td>
        <td style="text-align: center"><span th:text = "|${diegoPrevSum} EUR|"></span></td>
    </tr>
    <tr>
        <td>Week Data</td>
        <td colspan="2" style="text-align:center">
            <canvas id="myChart" width="800" height="200"></canvas>
            <script th:inline="javascript">

                /*<![CDATA[*/
                var weekData = [[${weekData}]];
                var keys = [[${weekDataKeys}]];
                /*]]>*/

                var labels = [];
                var values = [];

                keys.map( function(key) {
                    labels.push(key);
                    values.push(weekData[key]);
                })

                var data = {
                    labels: labels,
                    datasets: [
                        {
                            label: "My First dataset",
                            fillColor: "rgba(220,220,220,0.2)",
                            strokeColor: "rgba(220,220,220,1)",
                            pointColor: "rgba(220,220,220,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(220,220,220,1)",
                            data: values
                        }
                    ]
                };

                var ctx = document.getElementById("myChart").getContext("2d");
                var myLineChart = new Chart(ctx).Line(data, Chart.defaults);
            </script>

        </td>
    </tr>
    <tr>
        <td>Add a purchase</td>
        <td>
            <div th:include="fragments::form (${'Ostap'},${purchase})">...</div>
        </td>
        <td>
            <div th:include="fragments::form (${'Diego'},${purchase})">...</div>
        </td>
    </tr>
    <tr>
        <td style="width: 16%">List of purchases</td>
        <td style="width: 42%">
            <div th:include="fragments::list (${ostapPurchases})">...</div>
        </td>

        <td style="width: 42%">
            <div th:include="fragments::list (${diegoPurchases})">...</div>
        </td>
    </tr>

    </tbody>
</table>
    </div>
</body>
</html>